- name: configure mysql server
  hosts: mysql
  become: yes
  tasks:
  - name: install mysql
    ansible.builtin.dnf:
      name: mysql-server
      state: present

  - name: start and enable mysqld #https://docs.ansible.com/ansible/latest/collections/ansible/builtin/service_module.html
    ansible.builtin.service:
      name: mysqld
      state: started
      enabled: yes

  - name: setp root password
    ansible.builtin.command: mysql_secure_installation --set-root-pass RoboShop@1